// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 300px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$azul: #007df4;
$principal:#e974fd;
$principal-claro:#f1aafe;
$secundario: #00c8c2;
$morado:#9C27B0;
$moradoNegro:#4c0359;
$moradoOscuro:#89119d;
$amarillo:#FFCE00;
$amarilloOscuro:rgb(233,287,2);

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$rojo: rgb(169, 0, 0);
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900