@use 'base/variables' as v;
@use'base/mixins' as m;

.pagina_404 {
    color: v.$gris-oscuro;
  
    &__heading {
        @include m.heading(v.$moradoOscuro);
    }

    &__contenedor {
        text-align: center;


    }

    &__enlace {
        color: v.$blanco;
    }   
}